.lista-geral {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    max-width: 950px;
}

@media(max-width: 450px) {
    .lista-geral {
        flex-direction: column;    
    }
}