.side-container {
    display: flex;
    margin-top: 5em;
    min-height: 500px;
    background-color: white;
}

.side-left {
    width: 70px;
}

.side-right {
    display: flex;
    width: 100%;    
    justify-content: center;
}

.side-left-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Mobile */
@media(max-width: 450px) {
    .side-left {
        display: none;
    }

    .side-right {
        flex-direction: column;
        flex-grow: 1;
    }
}
