@import '~@angular/material/theming';

.card-padrao {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 25px 0px 25px 0px;
    @include mat-elevation(6);
    background-color: white;
    border-radius: 5%;
}

.dados-associado {
    display: flex;
    flex-direction: column;
    margin: 10px 25px 20px 25px;
    padding-top: 15px;
    @include mat-elevation(4);
    border-radius: 5%;
}

.conteudo {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
